html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.boxscroll, .boxscroll1, .boxscroll12 {
    overflow-y: auto;
}
.tr-selected {
    background: #e6f1f7 !important
}
.ck-editor {
    width: 100% !important;
}
table thead>tr>*{
    white-space:nowrap !important;
}