html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.boxscroll{
    overflow-y:auto;
}
.tr-selected {
    background: #e6f1f7 !important
}