<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#login">Login</button>

<div class="offcanvas offcanvas-bottom" id="login">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <button type="button" class="btn btn-outline-primary" id="changeRegis">Đăng kí</button>
        <button type="button" class="btn btn-outline-primary" id="changeLogin">Đăng nhập</button>
    </div>
    <div class="offcanvas-body">
        <form class="formLogin" id="formLogin" method="post" asp-page-handler="Login">
            <h3 class="title">Đăng nhập</h3>
            <div class="form-group">
                <input name="Email" class="form-control login-input" placeholder="Nhập Email" />
            </div>
            <div class="form-group">
                <input name="Password" type="password" class="form-control login-input" placeholder="Mật khẩu" />
                <a class="forgot" href="#">Forgot?</a>
            </div>
            <label class="text-danger">@ViewData["LoginError"]</label>
            <button class="btn btn-primary submitbtn" id="loginbtn" type="button">Đăng nhập</button>
        </form>
        <form class="formLogin" id="formRegis" method="post" asp-page-handler="Regis">
            <h3 class="title">Tạo hồ sơ</h3>
            <div class="form-group">
                <input name="Age" class="form-control login-input" placeholder="Nhập Tuổi" />
            </div>
            <div class="form-group">
                <input name="FullName" class="form-control login-input" placeholder="Nhập Tên (tùy chọn)" />
            </div>
            <div class="form-group">
                <input name="Email" class="form-control login-input" placeholder="Nhập Email" />
            </div>
            <div class="form-group">
                <input name="Password" type="password" class="form-control login-input" placeholder="Mật khẩu" />
            </div>
            <label class="text-danger">@ViewData["RegisError"]</label>
            <button class="btn btn-primary submitbtn" id="regisbtn" type="button">Tạo tài khoản</button>
        </form>
        <div class="policy">
            <span>
                Khi đăng ký trên Duolingo, bạn đã đồng ý với
                <a href="https://www.duolingo.com/terms?wantsPlainInfo=1"><b>Các chính sách</b></a>
                và
                <a href="https://www.duolingo.com/privacy?wantsPlainInfo=1"><b>Chính sách bảo mật</b></a>
            </span>
        </div>
    </div>
</div>


@if (ViewData["Name"] != null)
{
    <script>
        window.onload = function () {
            alert('Hello @ViewData["Name"]')
        }
    </script>
}@if (ViewData["Name"] == null)
{
    <script>
        window.onload = function () {
            $('#login').addClass('show')
        }
    </script>
}
@if (ViewData["RegisError"] != null)
{
    <script>
        window.onload = function () {
            $('#login').addClass('show')
            $('#changeRegis').hide()
            $('#changeLogin').show()
            $('#formLogin').hide()
            $('#formRegis').show()
        }
    </script>
}
